.page-container {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
}

.card-container {
    padding-top: 40px;
    border-radius: 25px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: #f6f6f6;
}

@media screen and (max-width: 991px) {
    .card-container {
        padding-top: 0px;
        background-color: white;
    }
    .page-container {
        width: 90%;
    }
}
