@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Bold.ttf');
}

.page-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
}

.card-container {
    padding-top: 40px;
    font-family: 'Montserrat';
    border-radius: 25px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: #f6f6f6;
}

@media screen and (max-width: 550px) {
    .card-container {
        padding-top: 0px;
        background-color: white;
    }
}
