@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Bold.ttf');
}

.page-container-lodging {
    width: 80%;
    margin: auto;
}

.info {
    font-family: 'Montserrat';
    color: #ff6060;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.title-tag {
    width: 50%;
}

.tags {
    width: 70%;
    display: flex;
    flex-direction: row;
}

.tag {
    padding: 0px 10px;
    margin-right: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 30px;
    background-color: #ff6060;
    color: white;
}

.heberger {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.heberger-nom {
    padding-right: 20px;
}

.heberger-pic {
    border-radius: 50%;
}

.heberger-rate {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.rate {
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.collapse2 {
    width: 45%;
}

.collapse-lodging {
    margin: auto;
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 550px) {
    .page-container-lodging {
        width: 90%;
    }

    .collapse-lodging {
        display: flex;
        flex-direction: column;
    }

    .info {
        flex-direction: column;
    }

    .title-tag {
        width: 100%;
    }

    .tags {
        display: flex;
        width: 90%;
        flex-wrap: wrap;
    }
    .tag {
        border-radius: 5px;
        height: 20px;
        font-size: 10px;
        margin-top: 10px;
    }

    h1 {
        font-size: 18px;
    }

    h2 {
        font-size: 14px;
    }

    .heberger-rate {
        margin-top: 10px;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
    }

    .heberger {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .star,
    .starG {
        width: 13px;
        height: 13px;
    }

    .heberger-nom {
        font-size: 12px;
    }

    .heberger-pic {
        width: 32px;
        height: 32px;
    }

    .vector,
    .vectorDown {
        width: 16px;
        height: 9px;
    }

    .collapse2 {
        width: 100%;
    }
}
