.lodging-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 5px;
    justify-items: center;
}

@media screen and (max-width: 991px) {
    .lodging-list {
        flex-direction: column;
        padding-top: 20px;

        width: 90%;
    }
}
