.lodging-list {
    padding-top: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
    width: 96%;
    justify-items: center;
}

@media screen and (max-width: 550px) {
    .lodging-list {
        padding-top: 20px;
        grid-template-columns: 1fr;

        width: 90%;
    }
}
