.lodging-list {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

@media screen and (max-width: 550px) {
    .lodging-list {
        padding-top: 20px;

        width: 90%;
    }
}
